<html>
  <head>
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename = 'script.js')}}"></script>
  </head>
  <body>
    <h1>Список датчиков</h1>
      <table>
      	<tr>
      		<td><a href="/u1">bt1</a></td>
      		<td>Название</td>
          <td>Потоп: {{data.flood}}, Клапан: {{data.valve}}, Сигнализация: {{data.alarm}}</td>
      	</tr>
      	<tr>
          <td><a href="/u2">bt2</a></td>
          <td>Название</td>
          <td>йй</td>
      	</tr>
      	<tr>
      	   <td><a href="/u3">bt3</a></td>
          <td>Название</td>
          <td>йй</td>
      	</tr>
      </table>

  </body>
</html>